<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalogs</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Background</string>
							<key>type</key>
							<string>color</string>
							<key>value</key>
							<string>24Vision/Background</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Primary</string>
							<key>type</key>
							<string>color</string>
							<key>value</key>
							<string>24Vision/Primary</string>
						</dict>
					</array>
					<key>name</key>
					<string>24Vision</string>
					<key>type</key>
					<string>group</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Orange</string>
					<key>type</key>
					<string>image</string>
					<key>value</key>
					<string>Orange</string>
				</dict>
				<dict>
					<key>items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Primary</string>
							<key>type</key>
							<string>color</string>
							<key>value</key>
							<string>Vengo/Primary</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Tint</string>
							<key>type</key>
							<string>color</string>
							<key>value</key>
							<string>Vengo/Tint</string>
						</dict>
					</array>
					<key>name</key>
					<string>Vengo</string>
					<key>type</key>
					<string>group</string>
				</dict>
			</array>
			<key>name</key>
			<string>Colors</string>
		</dict>
	</array>
</dict>
</plist>
