<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalogs</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>items</key>
					<array/>
					<key>name</key>
					<string>Empty</string>
					<key>type</key>
					<string>group</string>
				</dict>
				<dict>
					<key>items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Banana</string>
							<key>type</key>
							<string>image</string>
							<key>value</key>
							<string>Exotic/Banana</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Mango</string>
							<key>type</key>
							<string>image</string>
							<key>value</key>
							<string>Exotic/Mango</string>
						</dict>
					</array>
					<key>name</key>
					<string>Exotic</string>
					<key>type</key>
					<string>group</string>
				</dict>
				<dict>
					<key>items</key>
					<array>
						<dict>
							<key>name</key>
							<string>Apricot</string>
							<key>type</key>
							<string>image</string>
							<key>value</key>
							<string>Round/Apricot</string>
						</dict>
						<dict>
							<key>items</key>
							<array>
								<dict>
									<key>name</key>
									<string>Apple</string>
									<key>type</key>
									<string>image</string>
									<key>value</key>
									<string>Round/Apple</string>
								</dict>
								<dict>
									<key>items</key>
									<array>
										<dict>
											<key>name</key>
											<string>Cherry</string>
											<key>type</key>
											<string>image</string>
											<key>value</key>
											<string>Round/Double/Cherry</string>
										</dict>
									</array>
									<key>name</key>
									<string>Double</string>
									<key>type</key>
									<string>group</string>
								</dict>
								<dict>
									<key>name</key>
									<string>Tomato</string>
									<key>type</key>
									<string>image</string>
									<key>value</key>
									<string>Round/Tomato</string>
								</dict>
							</array>
							<key>name</key>
							<string>Red</string>
							<key>type</key>
							<string>group</string>
						</dict>
					</array>
					<key>name</key>
					<string>Round</string>
					<key>type</key>
					<string>group</string>
				</dict>
				<dict>
					<key>name</key>
					<string>private</string>
					<key>type</key>
					<string>image</string>
					<key>value</key>
					<string>private</string>
				</dict>
			</array>
			<key>name</key>
			<string>Images</string>
		</dict>
	</array>
</dict>
</plist>
