<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>modules</key>
	<array/>
	<key>platform</key>
	<string>macOS</string>
	<key>storyboards</key>
	<array>
		<dict>
			<key>name</key>
			<string>Anonymous</string>
			<key>platform</key>
			<string>macOS</string>
			<key>scenes</key>
			<array/>
			<key>segues</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
