<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tables</key>
	<array>
		<dict>
			<key>levels</key>
			<dict>
				<key>children</key>
				<array>
					<dict>
						<key>name</key>
						<string>Apples</string>
						<key>strings</key>
						<array>
							<dict>
								<key>key</key>
								<string>apples.count</string>
								<key>name</key>
								<string>count</string>
								<key>translation</key>
								<string>You have %d apples</string>
								<key>types</key>
								<array>
									<string>Int</string>
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>Bananas</string>
						<key>strings</key>
						<array>
							<dict>
								<key>key</key>
								<string>bananas.owner</string>
								<key>name</key>
								<string>owner</string>
								<key>translation</key>
								<string>Those %d bananas belong to %@.</string>
								<key>types</key>
								<array>
									<string>Int</string>
									<string>String</string>
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>children</key>
						<array>
							<dict>
								<key>children</key>
								<array>
									<dict>
										<key>children</key>
										<array>
											<dict>
												<key>children</key>
												<array>
													<dict>
														<key>children</key>
														<array>
															<dict>
																<key>children</key>
																<array>
																	<dict>
																		<key>children</key>
																		<array>
																			<dict>
																				<key>children</key>
																				<array>
																					<dict>
																						<key>children</key>
																						<array>
																							<dict>
																								<key>children</key>
																								<array>
																									<dict>
																										<key>children</key>
																										<array>
																											<dict>
																												<key>name</key>
																												<string>Is</string>
																												<key>strings</key>
																												<array>
																													<dict>
																														<key>key</key>
																														<string>settings.navigation-bar.title.deeper.than.we.can.handle.no.really.this.is.deep</string>
																														<key>name</key>
																														<string>deep</string>
																														<key>translation</key>
																														<string>DeepSettings</string>
																													</dict>
																												</array>
																											</dict>
																										</array>
																										<key>name</key>
																										<string>This</string>
																									</dict>
																								</array>
																								<key>name</key>
																								<string>Really</string>
																							</dict>
																						</array>
																						<key>name</key>
																						<string>No</string>
																					</dict>
																				</array>
																				<key>name</key>
																				<string>Handle</string>
																			</dict>
																		</array>
																		<key>name</key>
																		<string>Can</string>
																	</dict>
																</array>
																<key>name</key>
																<string>We</string>
															</dict>
														</array>
														<key>name</key>
														<string>Than</string>
													</dict>
												</array>
												<key>name</key>
												<string>Deeper</string>
											</dict>
											<dict>
												<key>name</key>
												<string>Even</string>
												<key>strings</key>
												<array>
													<dict>
														<key>key</key>
														<string>settings.navigation-bar.title.even.deeper</string>
														<key>name</key>
														<string>deeper</string>
														<key>translation</key>
														<string>Settings</string>
													</dict>
												</array>
											</dict>
										</array>
										<key>name</key>
										<string>Title</string>
									</dict>
								</array>
								<key>name</key>
								<string>Navigation_Bar</string>
								<key>strings</key>
								<array>
									<dict>
										<key>key</key>
										<string>settings.navigation-bar.self</string>
										<key>name</key>
										<string>self</string>
										<key>translation</key>
										<string>Some Reserved Keyword there</string>
									</dict>
								</array>
							</dict>
							<dict>
								<key>name</key>
								<string>User_Profile_Section</string>
								<key>strings</key>
								<array>
									<dict>
										<key>key</key>
										<string>seTTings.uSer-proFile-sectioN.footer_text</string>
										<key>name</key>
										<string>footer_text</string>
										<key>translation</key>
										<string>Here you can change some user profile settings.</string>
									</dict>
									<dict>
										<key>key</key>
										<string>SETTINGS.USER_PROFILE_SECTION.HEADER_TITLE</string>
										<key>name</key>
										<string>HEADER_TITLE</string>
										<key>translation</key>
										<string>User Profile Settings</string>
									</dict>
								</array>
							</dict>
						</array>
						<key>name</key>
						<string>Settings</string>
					</dict>
				</array>
				<key>strings</key>
				<array>
					<dict>
						<key>key</key>
						<string>alert_message</string>
						<key>name</key>
						<string>alert_message</string>
						<key>translation</key>
						<string>Some alert body there</string>
					</dict>
					<dict>
						<key>key</key>
						<string>alert_title</string>
						<key>name</key>
						<string>alert_title</string>
						<key>translation</key>
						<string>Title of the alert</string>
					</dict>
					<dict>
						<key>key</key>
						<string>ObjectOwnership</string>
						<key>name</key>
						<string>ObjectOwnership</string>
						<key>translation</key>
						<string>These are %3$@'s %1$d %2$@.</string>
						<key>types</key>
						<array>
							<string>Int</string>
							<string>String</string>
							<string>String</string>
						</array>
					</dict>
					<dict>
						<key>key</key>
						<string>private</string>
						<key>name</key>
						<string>private</string>
						<key>translation</key>
						<string>Hello, my name is %@ and I'm %d</string>
						<key>types</key>
						<array>
							<string>String</string>
							<string>Int</string>
						</array>
					</dict>
				</array>
			</dict>
			<key>name</key>
			<string>Localizable</string>
		</dict>
	</array>
</dict>
</plist>
