<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tables</key>
	<array>
		<dict>
			<key>levels</key>
			<dict>
				<key>strings</key>
				<array>
					<dict>
						<key>key</key>
						<string>MULTILINE</string>
						<key>name</key>
						<string>MULTILINE</string>
						<key>translation</key>
						<string>multi\nline</string>
					</dict>
					<dict>
						<key>key</key>
						<string>multiLine\nKey</string>
						<key>name</key>
						<string>multiLine
Key</string>
						<key>translation</key>
						<string>test</string>
					</dict>
					<dict>
						<key>key</key>
						<string>MULTILINE2</string>
						<key>name</key>
						<string>MULTILINE2</string>
						<key>translation</key>
						<string>another\nmulti\n    line</string>
					</dict>
					<dict>
						<key>key</key>
						<string>SINGLELINE</string>
						<key>name</key>
						<string>SINGLELINE</string>
						<key>translation</key>
						<string>single line</string>
					</dict>
					<dict>
						<key>key</key>
						<string>SINGLELINE2</string>
						<key>name</key>
						<string>SINGLELINE2</string>
						<key>translation</key>
						<string>another single line</string>
					</dict>
				</array>
			</dict>
			<key>name</key>
			<string>LocMultiline</string>
		</dict>
	</array>
</dict>
</plist>
