<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tables</key>
	<array>
		<dict>
			<key>levels</key>
			<dict>
				<key>children</key>
				<array>
					<dict>
						<key>name</key>
						<string>Apples</string>
						<key>strings</key>
						<array>
							<dict>
								<key>key</key>
								<string>apples.count</string>
								<key>name</key>
								<string>count</string>
								<key>translation</key>
								<string>Vous avez %d pommes</string>
								<key>types</key>
								<array>
									<string>Int</string>
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>Bananas</string>
						<key>strings</key>
						<array>
							<dict>
								<key>key</key>
								<string>bananas.owner</string>
								<key>name</key>
								<string>owner</string>
								<key>translation</key>
								<string>Ces %d bananes appartiennent à %@.</string>
								<key>types</key>
								<array>
									<string>Int</string>
									<string>String</string>
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>children</key>
						<array>
							<dict>
								<key>children</key>
								<array>
									<dict>
										<key>children</key>
										<array>
											<dict>
												<key>name</key>
												<string>Even</string>
												<key>strings</key>
												<array>
													<dict>
														<key>key</key>
														<string>settings.navigation-bar.title.even.deeper</string>
														<key>name</key>
														<string>deeper</string>
														<key>translation</key>
														<string>Paramètres</string>
													</dict>
												</array>
											</dict>
										</array>
										<key>name</key>
										<string>Title</string>
									</dict>
								</array>
								<key>name</key>
								<string>Navigation_Bar</string>
								<key>strings</key>
								<array>
									<dict>
										<key>key</key>
										<string>settings.navigation-bar.self</string>
										<key>name</key>
										<string>self</string>
										<key>translation</key>
										<string>Quelques mots-clés réservés</string>
									</dict>
								</array>
							</dict>
							<dict>
								<key>name</key>
								<string>User_Profile_Section</string>
								<key>strings</key>
								<array>
									<dict>
										<key>key</key>
										<string>seTTings.uSer-proFile-sectioN.footer_text</string>
										<key>name</key>
										<string>footer_text</string>
										<key>translation</key>
										<string>Ici, vous pouvez modifier certains paramètres de profil d'utilisateur.</string>
									</dict>
									<dict>
										<key>key</key>
										<string>SETTINGS.USER_PROFILE_SECTION.HEADER_TITLE</string>
										<key>name</key>
										<string>HEADER_TITLE</string>
										<key>translation</key>
										<string>Profil de l'utilisateur Paramètres</string>
									</dict>
								</array>
							</dict>
						</array>
						<key>name</key>
						<string>Settings</string>
					</dict>
				</array>
				<key>strings</key>
				<array>
					<dict>
						<key>key</key>
						<string>alert_message</string>
						<key>name</key>
						<string>alert_message</string>
						<key>translation</key>
						<string>Contenu détaillé de l'alerte</string>
					</dict>
					<dict>
						<key>key</key>
						<string>alert_title</string>
						<key>name</key>
						<string>alert_title</string>
						<key>translation</key>
						<string>Titre de l'alerte</string>
					</dict>
					<dict>
						<key>key</key>
						<string>greetings</string>
						<key>name</key>
						<string>greetings</string>
						<key>translation</key>
						<string>Bonjour, mon nom est %@ et j'ai %d ans</string>
						<key>types</key>
						<array>
							<string>String</string>
							<string>Int</string>
						</array>
					</dict>
					<dict>
						<key>key</key>
						<string>ObjectOwnership</string>
						<key>name</key>
						<string>ObjectOwnership</string>
						<key>translation</key>
						<string>Ce sont les %1$d %2$@ de %3$@.</string>
						<key>types</key>
						<array>
							<string>Int</string>
							<string>String</string>
							<string>String</string>
						</array>
					</dict>
				</array>
			</dict>
			<key>name</key>
			<string>LocUTF8</string>
		</dict>
	</array>
</dict>
</plist>
